{% extends 'base.html.twig' %}

{% block title %}Hello PropertyController!{% endblock %}

{% block body %}

<div class="container mt-4php">
 <h1>Voir tous nos biens </h1>
 <p>
    Qui sit tempor consectetur laborum et elit veniam laborum ex. Dolor non irure occaecat ad. Ipsum consectetur nostrud in elit consequat veniam aliquip. Magna sit qui consectetur aute minim labore cillum fugiat officia.
 </p>
</div>


{% endblock %}
